# Managed by Ansible role linux_av_base.
[daemon]
AutomaticLoginEnable=True
AutomaticLogin={{ linux_av_base_operator_user }}
WaylandEnable=false
DefaultSession=ubuntu-xorg.desktop

[security]

[xdmcp]

[chooser]

[debug]

